# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [ ]:
# Answer here
a=8
b=12
print(a+b)

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [1]:
# Answer here
b=7
c=20
print(c-b)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [2]:
# Answer here
print(6*9)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [3]:
# Answer here
print(45/9)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [4]:
# Answer here
print(45//9)
print(50//6)

5
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [5]:
# Answer here
print(29%5)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [ ]:
# Answer here
num=3
power=4
print(num**power)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [ ]:
# Answer here
a=-6

print(+a)
print(-a)

-6
6

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [ ]:
# Answer here
c=5 + 3 * 2
d=(5 + 3) * 2
print(c)
print(d)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [ ]:
# Answer here
a=15
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [6]:
# Answer here
n=10
n +=5
print(n)
n*=2
print(n)
n-=4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [ ]:
# Answer here
x=3
y=7
x,y=y,x
# x = y
# y = x
print(x,y)

7 3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [7]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
input1=int(input("enter the first number"))
input2=int(input("enter the second number"))
print(input1 , input2)

enter the first number10
enter the second number29
10 29

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [8]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
input1=float(input("enter number"))
input2=float(input("enter number"))
input3=float(input("enter number"))
print((input1 + input2 + input3)/3)

enter number2
enter number2
enter number2
2.0

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [10]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
r=float(input("enter the radius"))
pi=3.14159
circumference = 2*pi*r
area = pi * (r**2)
print(circumference , area)

enter the radius3
18.849539999999998 28.27431

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [14]:
total_seconds = int(input("enter seconds value"))

hours = total_seconds // 3600
remaining_seconds = total_seconds % 3600
minutes = remaining_seconds // 60
seconds = remaining_seconds % 60

print(f"{hours}:{minutes}:{seconds}")

enter seconds value600
0:10:0

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [ ]:
# Answer here
amt = 100000
rate =6
year = 3
simple_interest = (amt * rate * year) / 100
print(simple_interest)

Enter pricipal amt:100000
ENter rate6
enter time in years:3
1800000