#  Python Sets â€“ Practice Questions

### Q1
Create a set from the list below and print only the unique values.

```python
data = [10, 20, 20, 30, 40, 40]
```

In [ ]:
# write your code here
a={10, 20, 20, 30, 40, 40}
print(a)

### Q2
What will be the output? Explain why.

```python
s = {1, 2, 3, 3, 2}
print(s)
```

In [1]:
# write your code here
b={1, 2, 3, 3, 2}
print(b)

{1, 2, 3}

### Q3
Create an empty set and add numbers from 1 to 5 using a loop.

In [ ]:
# write your code here
c=set()
for i in range(1,6):
  c.add(i)
print(c)

### Q4
Why does this code give an error? Fix it.

```python
s = {}
s.add(10)
```

In [ ]:
# write your code here
c=set()
c.add(10)
print(c)

### Q5
Given:
```python
A = {2, 4, 6, 8}
B = {4, 8, 12}
```
Find Union, Intersection, A-B

In [ ]:
# write your code here
A = {2, 4, 6, 8}
B = {4, 8, 12}

### Q6
Check whether 15 exists in the set {5, 10, 15, 20}.

In [ ]:
# write your code here

if 15 in {5, 10, 15, 20}:
  print("mil gya")
else:
  print("nhi mil gya")

True

### Q7
Remove element 30 safely from {10, 20, 30, 40}.

In [ ]:
# write your code here
a={10, 20, 30, 40}
a.remove(30)
print(a)

### Q8
Count unique elements in:
```python
nums = [1, 2, 2, 3, 4, 4, 5]
```

In [ ]:
# write your code here
nums = [1, 2, 2, 3, 4, 4, 5]
print(len(set(nums)))

### Q9
What will be the output?
```python
s = {10, 20, 30}
s.add(20)
print(len(s))
```

In [ ]:
# write your code here
s = {10, 20, 30}
s.add(20)
print(len(s))

### Q10
Can a set contain a list? Why?
```python
s = {1, 2, [3, 4]}
```

### Q11
Convert {100, 200, 300} into list and print first element.

In [ ]:
# write your code here

set1={100, 200, 300}

print(set1)

l1=list(set1)


l1[0]

{200, 100, 300}

200

### Q12
Students in two classes:   #union
```python
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
```

In [ ]:
# write your code here
class_A = {'Aman','Riya','Karan','Neha'}
class_B = {'Neha','Simran','Aman'}
print(class_A.union(class_B))

### Q13
Find unique characters in:
```python
text = 'programming'
```

In [ ]:
# write your code here
text = 'programming'
print(set(text))

### Q14
Remove duplicate words from:
```python
sentence = 'python is easy and python is powerful'
```

In [2]:
# write your code here
sentence = 'python is easy and python is powerful'
print(set(sentence.split()))

{'powerful', 'and', 'is', 'easy', 'python'}

### Q15
What is the output?
```python
s = set('hello')
print(s)
```

In [ ]:
# write your code here
s = set('hello')
print(s)