# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [1]:
# write your answer here
tup=(1,2,3,4,5)
for i in tup:
  print(i)

1
2
3
4
5

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [2]:
# write your answer here
tup=(1,1.1,"aarav",True)
for i in tup:
  print(i)

1
1.1
aarav
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [3]:
# write your answer here
student=("aarav","rohit","harsh","akmal")
print(len(student))

4

### Question 4
Access and print the last element of a tuple.

In [4]:
# write your answer here
t=(1,2,3,4)
print("last element of tuplet",[-1])

4

### Question 5
Check whether an element exists in a tuple or not.

In [9]:
# write your answer here
t=("aarav",1,3,4,5)
for i in t:
  if  i=="aarav":
    print("element exist in tuple")

element exist in tuple

### Question 6
Convert a tuple into a list.

In [22]:
# write your answer here
tup=(1,2,3)
o=list(tup)
print(type(o))

<class 'list'>

### Question 7
Convert a list into a tuple.

In [18]:
# write your answer here
list1=[1,2,3,4]
tuple(list1)

(1, 2, 3, 4)

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [26]:
# write your answer here
t=(1,2,3,4,1,1,1,1)
s=[]
for i in t:
   print(t.count(i))

5
1
1
1
5
5
5
5

### Question 9
Find the index of an element in a tuple.

In [ ]:
# write your answer here
t=(1,2,3,4)
print(t.index(2))

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [27]:
# write your answer here
t=(1,2,3,4,5,6)
print(t[2])
t[2]=4

3

TypeError: 'tuple' object does not support item assignment